<?xml version="1.0" ?>
<robot name="Globo_GG" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Globo_GG_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Globo_GG_description)/urdf/Globo_GG.trans" />
<xacro:include filename="$(find Globo_GG_description)/urdf/Globo_GG.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-6.235189367571009e-18 -6.235189367571009e-18 -0.07315904030021088" rpy="0 0 0"/>
    <mass value="0.7156492156888147"/>
    <inertia ixx="0.00023" iyy="0.00023" izz="0.000355" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Globo_GG_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Globo_GG_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
