<?xml version="1.0" ?>
<robot name="Granular_Gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Granular_Gripper_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Granular_Gripper_description)/urdf/Granular_Gripper.trans" />
<xacro:include filename="$(find Granular_Gripper_description)/urdf/Granular_Gripper.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-2.5341825311606904e-05 3.0043157359181438e-05 -0.022682975164383043" rpy="0 0 0"/>
    <mass value="0.6935960201081469"/>
    <inertia ixx="0.000644" iyy="0.000643" izz="0.000719" ixy="-0.0" iyz="-1e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Granular_Gripper_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Granular_Gripper_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
